<div class="dashboard-block all-screen">
    <div class="wrapper">
        <div class="poster-container">
            <div class="poster"></div>
            <div class="button-container">
                <a ui-sref="projectAdd" class="button-add">
                    <span>+</span><span>[[vm.lang.get('dashboard_projects_button_new')]]</span>
                </a>
            </div>
            <ol class="tutorial-list">
                <li>To restore a site, you first need to create a New Project. Click on the <a href="#/project-add">“New Project”</a> button above.</li>
                <li>To access projects you have already started, click on the <a href="#/projects">“My Projects”</a> Tab above.</li>
                <li>To update your personal details and to find out your subscription level information & the number of sites you can work with, click on the <a href="#/account">“My Account”</a> tab above.</li>
            </ol>
        </div>
    </div>
</div>
