@import "scss/_mixin";

.copy-link-dialog-block {

  .copy-link-dialog-container {
    width: calc(100vw - 40px);
    padding: 45px 20px 45px 20px;
    line-height: $line-height-normal;
    @include tablet {
      max-width: 900px;
      padding: 85px 75px 135px 75px;
    }
    @include laptop {
      width: 900px;
      padding: 115px 95px 165px 95px;
    }

    .dialog-title {
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      text-align: center;
      color: #00a3ff;
      margin: 0 0 40px 0;
      @include tablet {
        margin: 0 0 85px 0;
        font-size: 30px;
      }
    }

    .link-container {
      @include clearfix();

      input {
        height: 54px;
        width: calc(100% - 145px);
        background-color: #fff;
        border: none;
        outline: none;
        font-size: 16px;
        letter-spacing: 0.7px;
        color: #90a4ae;
        padding: 0 32px;
        box-shadow: 0px 0px 40px 0px rgba(115, 91, 251, 0.1);
      }

      .button-copy {
        float: right;
        @include button-container(100px, 48px);
        font-size: 14px;
        color: #fff;
        background-color: #00a3ff;
        cursor: pointer;
        @include tablet {
          @include button-container(110px, 54px);
        }
        @include laptop {
          &:hover {
            background-color: #0092e5;
          }
        }
      }

    }

    a {
      display: inline-block;
      margin: 12px 0 0 0;
      font-size: 12px;
      color: #27a8f8;
      text-decoration: underline;
    }

  }
}